<a href="https://colab.research.google.com/github/aryanmanlol/Python/blob/main/python_exp_3_ipnyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q1

n=int(input("enter a number: "))
sum=0
print("sum of ",n," natural numbers is")
for i in range(1,n+1):
    sum+=i

print(sum)

enter a number: 7
sum of  7  natural numbers is
28

In [ ]:
#q2

p=int(input("enter the starting number: "))
q=int(input("enter the last number: "))
even,odd=0,0
for i in range(p,q+1):
    if i%2==0:
        even+=1
    else:
        odd+=1
print("even number count: ",even)
print("odd number count: ",odd)

enter the starting number: 6
enter the last number: 8
even number count:  2
odd number count:  1

In [ ]:
#q3

n=int(input("enter a number to check: "))
for i in range(2,n):
    if n%i==0:
        print(n,"is not a prime number")
        break
    if i==n-1:
        print(n,"is a prime number")

enter a number to check: 7
7 is a prime number

In [ ]:
#q4

terms=int(input("enter no. of terms"))
f1,f2=0,1
print("series",f1," ",f2," ",end=" ")
i=1
while i<=terms-2:
   f3=f1+f2
   print(f3,end=" ")
   f1=f2
   f2=f3
   i+=1

enter no. of terms5
series 0   1   1 2 3

In [ ]:
#q5

for i in range(1,4):
  for k in range(3,i,-1):
      print(" ",end=" ")
  for j in range(1,2*i):
      print("*",end=" ")
  print()

    *
  * * *
* * * * *

In [ ]:
#6



s="ranbir"
i=0
while i<len(s):
  print(s[i])
  i+=1

r
a
n
b
i
r

In [ ]:
#q7


for i in range(1,10):
    if i==4:
        continue

print(i)

9

In [ ]:
#q8


s1="hello "
s2="world"
#string concatenation:
s3=s1+s2
print("concatenated string: ",s3)
#string length
print("length of concatenated string: ",len(s3))
#split
words=s3.split()
print("words in the string are: ",words)
#count
c=s3.count("l")
print("count of l in string: ",c)

concatenated string:  hello world
length of concatenated string:  11
words in the string are:  ['hello', 'world']
count of l in string:  3

In [ ]:
#q9


print("even numbers are: ")
for i in range(1,10):
  if i%2!=0:
   continue
  else:
    print(i)

even numbers are:
2
4
6
8

In [ ]:
 #q10


 for i in range(5):
  pass
 else:
    print("nothing to print")

nothing to print